<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{_title ? _title : 'Home'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{_title ? _title : 'Home'}}</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item button detail="true" detail-icon="caret-forward"
    (click)="navigateToOfficeOrMbRegister()"
      [routerLink]=" associatedOffice && associatedOffice.subOffices && associatedOffice.subOffices.length > 0 ? ['/main/pwd-offices/office', associatedOffice.id] : ['/main/agreement-register/office', associatedOffice?.id]">
      <ion-thumbnail slot="start">
        <img [src]="loggedInUser?.photoUrl" [alt]="loggedInUser?.name">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <b>{{associatedOffice?.name}}<br>{{loggedInUser?.name}}</b>
        <p>{{associatedOffice?.address}}</p>
      </ion-label>
    </ion-item>
  </ion-list>



</ion-content>