// .ion-fab {
//     margin-right: 2rem;
//     margin-bottom: 2rem;
// }

.ion-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0 0 0;
}

.text {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

mat-form-field {
    width: 100%;
}

.container[scrollx=true] {
    width: 100px;
    background-color: green;
    overflow: auto; 
    white-space: nowrap;
    ::-webkit-scrollbar {
      display: none;
    }
    .scroll {
      overflow: auto;
    }
  }


  .flex-inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}
