<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="title; else menuButton" icon="chevron-back"
        defaultHref="/main/agreement-register"></ion-back-button>
      <ng-template #menuButton>
        <ion-menu-button></ion-menu-button>
      </ng-template>
    </ion-buttons>

    <ion-title>{{title ? title : 'Works Register'}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div [formGroup]="searchFormGroup">
      <ion-searchbar [debounce]="1000" formControlName="searchFormControl"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title ? title : 'Works Register'}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab class="ion-fab" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/main/agreement-register/create">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading$ | async"></mat-progress-bar>

  <mat-tab-group backgroundColor="primary" (selectedTabChange)="matTabSelectedChange($event)" animationDuration="150ms">
    <mat-tab *ngFor="let tabtitle of workStatuses" class="tab-title" [label]="tabtitle">
      <ion-list *ngIf="isRenderedInMobile; else renderInLargeScreen">
        <ion-item-sliding *ngFor="let agtReg of agreementRegister$ | async; let i = index">
          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash" button (click)="deleteRecord(agtReg)"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item button detail="true" detail-icon="caret-forward"
            [routerLink]="['/main/agreement-register/details/', agtReg.id]" (click)="selectedAgtRegRecord(agtReg)">
            <ion-label class="ion-text-wrap">
              <div class="flex-inline">
                <div>
                  <p>
                    ({{(pageIndex*pageSize)+(i+1)}}) Agt
                    No.{{agtReg.agreementNumber}} Dt:{{agtReg.dateOfAgreement |
                    date: 'dd/MM/yyyy'}}
                  </p>
                  <p>Agency: {{agtReg.agency.name}}</p>
                </div>
                <div class="text-end">
                  <p class="text-end">
                    {{agtReg.estimateContractValue | currency: 'INR'}}
                  </p>
                  <mat-chip highlighted [color]="getKeyByValue(agtReg.workStatus)">{{agtReg.workStatus}}</mat-chip>
                </div>
              </div>
              <p ngClass="text">{{agtReg.nameOfWork}}</p>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>

      <ng-template #renderInLargeScreen>
        <div id="htmlData">
          <table class="table table-hover table-borderless "
            [ngClass]="isDarkThemeEnabled ? 'table-dark': 'table-light'">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name of Work</th>
                <th scope="col">Agreement Ref</th>
                <th scope="col">Agency</th>
                <th scope="col">Amount</th>
                <th scope="col">Period of Completion</th>
                <th scope="col">Date of Completion</th>
                <th scope="col">Amount of Bills Paid</th>
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let agtReg of agreementRegister$ | async; let i = index" (click)="selectedAgtRegRecord(agtReg)"
                [routerLink]="['/main/agreement-register/details/', agtReg.id]">
                <td>{{(pageIndex*pageSize)+(i+1)}}</td>
                <td>{{agtReg.nameOfWork}}</td>
                <td>
                  Agt. No.{{agtReg.agreementNumber}} Dt:{{agtReg.dateOfAgreement
                  | date: 'dd/MM/yyy'}}, concluded at {{agtReg.office.name}}
                </td>
                <td>{{agtReg.agency.name}}, {{agtReg.agency.address}}</td>
                <td>{{agtReg.estimateContractValue | currency:'INR'}}</td>
                <td>{{monthsBetween(agtReg.dateOfAgreement, agtReg.dueDateOfCompletion) }}</td>
                <td>{{agtReg.dueDateOfCompletion | date: 'dd/MM/yyyy'}}</td>
                <td>{{ agtReg.uptoDateBillAmount | currency:'INR' }}</td>
                <td>
                  <mat-chip highlighted [color]="getKeyByValue(agtReg.workStatus)">{{agtReg.workStatus}}
                  </mat-chip>
                </td>
                <td>{{agtReg.remarks}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pull-right">
          <ion-button (click)="exportAsPDF()" *ngIf="agreementRegister$">
            <mat-icon>picture_as_pdf</mat-icon>Export as PDF
          </ion-button>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ion-content>

<ion-footer>
  <mat-paginator [length]="recordsCount$ | async" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex" [disabled]="isDisabled" (page)="handlePageEvent($event)" aria-label="Select page">
  </mat-paginator>
</ion-footer>