<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/main/agreement-register"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="fill" (click)="navigateToEditPage()">
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agreement Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agreement Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading$ | async"></mat-progress-bar>

  <div *ngIf="agreementRegister !== null || agreementRegister !== undefined">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Agt. No.{{agreementRegister?.agreementNumber}}
        </ion-card-title>
        <!-- <ion-card-subtitle *ngFor="let o of agreementRegister?.associatedOffices"> {{o.name}}</ion-card-subtitle> -->

      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">{{agreementRegister?.nameOfWork}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-note slot="start">Date of Agt.</ion-note>
          <ion-label slot="end">{{agreementRegister?.dateOfAgreement | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-note slot="start">Date of Completion</ion-note>
          <ion-label slot="end">{{agreementRegister?.dueDateOfCompletion | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-note slot="start">Extension of Time</ion-note>
          <ion-label slot="end">{{!agreementRegister?.extensionOfTime ? '-' : agreementRegister?.extensionOfTime| date: 'dd/MM/yyyy'}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-note slot="start">AS Amount</ion-note>
          <ion-label slot="end">
            {{agreementRegister?.estimateContractValue | currency:'INR'}}
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-note slot="start">Tender %</ion-note>
          <ion-label slot="end">@ {{agreementRegister?.tenderPercentage}}%
            {{agreementRegister?.tenderQuote}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-note slot="start">Agency</ion-note>
          <ion-label class="ion-text-wrap" slot="end">{{agency?.name}}, {{agency?.address}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-note slot="start">Asso. to Office</ion-note>
          <ion-label class="ion-text-wrap" slot="end">{{agreementRegister?.associatedOffice?.name}},
            {{agreementRegister?.associatedOffice?.address}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-note slot="start">Concl. at Office</ion-note>
          <ion-label class="ion-text-wrap" slot="end">{{office?.name}}, {{office?.address}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-note slot="start">Work Status</ion-note>
          <ion-label slot="end"> {{agreementRegister?.workStatus}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-note slot="start">TS Ref</ion-note>
          <ion-label class="ion-text-wrap" slot="end">{{agreementRegister?.technicalSanctionReference}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-note slot="start">AS Ref </ion-note>
          <ion-label class="ion-text-wrap" slot="end">{{agreementRegister?.administrativeSanctionReference}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-note slot="start">Remarks</ion-note>
          <ion-label class="ion-text-wrap" slot="end">{{agreementRegister?.remarks}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-note slot="end">Last updated by {{agreementRegister?.modifiedBy}} on {{agreementRegister?.modifiedOn |
            date: 'dd/MM/yyyy'}}</ion-note>
        </ion-item>
      </ion-card-content>

      <ion-button fill="outline"
        [disabled]="appComponentService.loggedInUser?.associatedOffice?.name !== agreementRegister?.associatedOffice?.name"
        [routerLink]="['/main/agreement-register', agreementRegister?.associatedOffice?.id,'add-measurements', agtRegId, agreementRegister?.agreementNumber]">Add
        Measurements</ion-button>
      <ion-button fill="outline"
        [disabled]="appComponentService.loggedInUser?.associatedOffice?.name !== agreementRegister?.associatedOffice?.name"
        [routerLink]="['/main/agreement-register', agreementRegister?.associatedOffice?.id,'add-bill', agtRegId, agreementRegister?.agreementNumber]">Add
        Bill</ion-button>
      <ion-button fill="outline" [routerLink]="['/main/agreement-register', agtRegId, 'suppl-agt', 'create']">Add
        Supplemental Agt Details</ion-button>

    </ion-card>

    <ion-list>
      <ion-list-header>
        <ion-label>Supplemental Agreement Details</ion-label>
      </ion-list-header>
      <ion-item-sliding *ngFor="let supplAgt of $supplAgtDetails | async">
        <ion-item-options side="start">
          <ion-item-option color="success">
            <ion-icon slot="icon-only" name="create" button (click)="editSupplAgtDetails(supplAgt)"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <b>Suppl Agt. No.{{supplAgt.supplAgtNumber}} on {{supplAgt.dateOfSupplAgt | date}} for
              {{supplAgt.supplAgtAmount | currency:'INR'}}</b>
            <p>WE/RE Details: {{supplAgt.techApprovalRef}}</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Measurements</ion-label>
      </ion-list-header>
      <ion-item-sliding *ngFor="let msmt of $measurements | async">
        <ion-item-options side="start">
          <ion-item-option color="success">
            <ion-icon slot="icon-only" name="create" button (click)="editMeasurement(msmt)"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <b>MB No.{{msmt.mb.mbNumber}} </b>
            <p>{{msmt.measurementType | titlecase}} measurements recorded from Pg.{{msmt.fromPg}} to Pg.{{msmt.toPg}} on
              {{msmt.dateOfMeasurement | date}} by {{msmt.measuredByOffice.name}}</p>
          </ion-label>
        </ion-item>

      </ion-item-sliding>
    </ion-list>

    <br>

    <ion-list>
      <ion-list-header>
        <ion-label>Bills</ion-label>
      </ion-list-header>
      <ion-item-sliding *ngFor="let bill of $bills | async">
        <ion-item-options side="start">
          <ion-item-option color="success">
            <ion-icon slot="icon-only" name="create" button (click)="editBill(bill)"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <b>MB No.{{bill.mb.mbNumber}} </b>
            <p>{{bill.billType | titlecase}} bill from Pg.{{bill.fromPg}} to Pg.{{bill.toPg}} on
              {{bill.dateOfRecommendation | date}} by {{bill.officeRecommended.name}} for {{bill.currentBillAmount |
              currency:'INR'}} & upto date given is {{bill.uptoDateBillAmount | currency:'INR'}}</p>
          </ion-label>
        </ion-item>

      </ion-item-sliding>
    </ion-list>

  </div>

</ion-content>