<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/main/pwd-offices"></ion-back-button>
    </ion-buttons>
    <ion-title>Enter PWD Office Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Enter PWD Office Details</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="form-pwd-offices">
    <form [formGroup]="officeFormGroup">
      <ion-input formControlName="name" formclass="input-fields" label="Name of Office" label-placement="floating"
        fill="outline" placeholder="Enter text"></ion-input>
      <ion-textarea formControlName="address" class="input-fields" label="Address of Office" label-placement="floating"
        fill="outline" placeholder="Enter text" autoGrow="true"></ion-textarea>

    </form>

    <div class="ion-buttons">
      <ion-buttons slot="secondary">
        <ion-button fill="outline" routerLink="/main/pwd-agencies" routerDirection="back"> Cancel </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button fill="solid" type="submit" (click)="saveAgency()"> Save Details </ion-button>
      </ion-buttons>
    </div>
  </div>

</ion-content>