.text {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .flex-inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }